# Project
nimbus_node_manager
nimbus_node_manager.exe

# Nim cache
nimcache

# Nimble
nimble.develop
nimble_develop

nimble.paths

# Nix & Direnv
.direnv
result

# Executables shall be put in an ignored build/ directory
/build

# Ignore dynamic, static libs and libtool archive files
*.so
*.dylib
*.a
*.la
*.exe
*.dll

# RLN / keystore
rlnKeystore.json
*.tar.gz
